
/*-------  Define  -------*/
.text-center {
  text-align: center;
}
.nav-link {
  cursor: pointer;
}
/*-------  Define  -------*/


/*-------  Loading  -------*/
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #007bff;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
/*-------  Loading  -------*/


/*-------  Modal  -------*/
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  margin: auto;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 80%;
  height: 240px;
  display: block;
}

@media screen and (min-width:768px) {
  .modal {
    width: 540px;
  }
}

.modal form {
  padding-top: 20px;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#apply-form {
  width: 100%;
}

#apply-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
  margin-top: 20px;
}


#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  width: 400px;
}
/*-------  Modal  --------*/